<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Booking Confirmation</title>
</head>
<body>

<h1>Your booking has been confirmed!</h1>
<p><strong>Location:</strong> ${booking.location}</p>
<p><strong>Number of Persons:</strong> ${booking.numberOfPersons}</p>
<p><strong>Phone Number:</strong> ${booking.phoneNumber}</p>
<p><strong>Arrival Date:</strong> ${booking.arrivalDate}</p>
<p><strong>Departure Date:</strong> ${booking.departureDate}</p>

</body>
</html>
