<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Section</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/style.css"> <!-- Add your custom CSS file -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script> <!-- For star icons -->
</head>
<body>
<header>
    <div id="menu-bar" class="fas fa-bars"></div>
    <a class="navbar-brand" href="/">
        <div class="logo-image">
            <img src="/images/travelIndia.png" class="img-fluid"
                 style="object-fit: contain; width: 200px; height: 30px" alt="TravelIndia Logo">
        </div>
    </a>
    <div class="nav">
        <nav class="navbar" style="font-size: 8px;"> <!-- Adjust the font size here -->
            <a href="/">Home</a>

            <!-- Category links passing category to the controller -->
            <a th:href="@{'/{category}'(category='arts')}">Arts</a>
            <a th:href="@{'/{category}'(category='dance')}">Dance</a>
            <a th:href="@{'/{category}'(category='music')}">Music</a>
            <a th:href="@{'/{category}'(category='festivals')}">Festivals</a>
            <a th:href="@{'/{category}'(category='ancient-traditions')}">Ancient Traditions</a>
            <a th:href="@{'/{category}'(category='book')}">Book Now</a>


            <a th:href="@{/about}">About</a>
            <div th:if="${session.role == 'admin'}">
                <a th:href="@{/api/admin/getBookings}">See Bookings</a>
                <a th:href="@{/api/admin/createPost}">Create Post</a>
            </div>

            <div th:if="${session.username != null}">
                <div th:if="${session.role=='user'}">
                    <a th:href="@{/book}">Book Now</a>
                </div>

                <a th:href="@{/logout}">Logout</a>
            </div>

            <div th:if="${session.username == null}">
                <a th:href="@{/login}">Login</a>
                <a th:href="@{/register}">Register</a>
            </div>
        </nav>
    </div>

    <div class="icons">
        <i class="fas fa-user" id="login-btn"></i>
    </div>
</header>

</body>
</html>
