<section class="gallery" id="gallery">
    <h1 class="heading"><span>GALLERY</span></h1>
    <br />
    <div class="box-container">
        <div class="box">
            <img src="images/g-1.jpg" alt="">
            <div class="content">
                <h3>The Holymen</h3>
                <p>The Hindu holy men at Pashupati Nath temple.</p>
                <a href="#" class="btn">See More</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-2.jpg" alt="">
            <div class="content">
                <h3>The Red Fort</h3>
                <p>The Red Fort or Lal Qila served as the main residence of the Mughal Emperors.</p>
                <a href="#" class="btn">See More</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-3.jpg" alt="">
            <div class="content">
                <h3>Harmandir Sahib</h3>
                <p>The Golden Temple is the preeminent spiritual site of Sikhism.</p>
                <a href="#" class="btn">See More</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-4.jpg" alt="">
            <div class="content">
                <h3>Gadisar Lake</h3>
                <p>Lake at Jaisalmer, Rajasthan at sunrise with ancient temples and archaeological ruins.</p>
                <a href="#" class="btn">See More</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-5.jpg" alt="">
            <div class="content">
                <h3>Lotus Temple</h3>
                <p>Located in Delhi, India, it is a Baháʼí House of Worship, notable for its flowerlike shape.</p>
                <a href="#" class="btn">See More</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-6.jpg" alt="">
            <div class="content">
                <h3>Agra Fort</h3>
                <p>Agra Fort is a historical fort. It was the main residence of the emperors of the Mughal Dynasty until 1638.</p>
                <a href="#" class="btn">See More</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-7.jpg" alt="">
            <div class="content">
                <h3>Taj Mahal</h3>
                <p>An ivory-white marble mausoleum on the right bank of the Yamuna River in Agra.</p>
                <a href="#" class="btn">See More</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-8.jpg" alt="">
            <div class="content">
                <h3>Shillong Camping</h3>
                <p>Shillong is a hill station in northeast India, the capital of the state of Meghalaya.</p>
                <a href="#" class="btn">See More</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-9.jpg" alt="">
            <div class="content">
                <h3>Akshardham Temple</h3>
                <p>One of the largest temples in Gujarat, India.</p>
                <a href="#" class="btn">See More</a>
            </div>
        </div>
    </div>
</section>
